body{
  background-color: #FEFCF3!important;
  
  font-family: 'Poppins', sans-serif!important;
}
.navbar{
background-color: #F0DBDB;
font-family: 'Poppins', sans-serif!important;
font-weight: bold;
}

.container-navbar {
  display: flex !important;
  justify-content: space-between !important;
}

.ul-navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.iconos {
  text-align: center;
}

.iconos > img {
  text-align: center;
  height: 50px;
}
.titu-acercademi{
  text-align: center;
  font-size: x-large;
}
.presentacion{
  text-align: center;
  font-weight: normal;
  font-size:large;
}
.titulos{
  font-size: x-large;
}
.contactos{
  display: flex;
  justify-content:space-evenly;
}
#acercademi{
  border: 1px solid black;
  border-radius: 8px;
  
}
#conocimientos{
  border: 1px solid black;
  border-radius: 8px;
  
}
#proyectos{
  border: 1px solid black;
  border-radius: 8px;
}
